body{
    background: linear-gradient(to bottom, #0F2027, #2C5364);
    text-align: center;
    align-items: center;
    min-height: 100vh;

}
#ResetBtn{
    margin-top: 40px;
    width: 120px;
    height: 60px;
    font-size: 40px;
    background-color: #ff2929;
    background: linear-gradient(to right, #ff2929, #480000);
}
#ResetBtn:hover {
  background: linear-gradient(to right, #ff5353, #ff1515);
  transform: scale(1.02);
}
#gameTitle{
    margin-top: 120px;
    font-size: 60px;
    color: #FFD700;
}
h2{
    font-size: 40px;
    color: #a88e00;
}
h3{
  color: #dc3545;
  font-size: 25px;
}
#upperBuffer{
    height: 10px;
}

#scoreBtn{
    margin-top: 40px;
    width: 120px;
    height: 60px;
    font-size: 40px;
    background-color: #f2ff00;
}
#scoreBtn:hover {
  background: linear-gradient(to right, #11ff00, #005e00);
  transform: scale(1.02);
}

#question{
  background-color: #0F2027;
  color: white;
  height: 100px;
}


.chBtn {
  background-color: #bcbcbc;
  color: rgb(0, 0, 0);
  transition: background 0.3s ease, transform 0.2s ease;
  width: 400px;
  font-size: 30px;
  height: 80px;

}

/* This hover only applies if button is NOT correct or wrong */
.chBtn:not(.correct):not(.wrong):hover {
  background: linear-gradient(to right, #0033ff, #119cff);
  transform: scale(1.02);
}

/* Correct answer */
.chBtn.correct {
  background: #28a745 !important;
  color: white;
}

/* Wrong answer */
.chBtn.wrong {
  background: #dc3545 !important;
  color: white;
}

#scoreCircle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: #00C897;
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: flex;               /* Use Flexbox */
    align-items: center;         /* Vertical centering */
    justify-content: center;     /* Horizontal centering */
    border-radius: 50%;          /* Make it circular */
}


