body{
    background: linear-gradient(to bottom, #081317, #2C5364);
    text-align: center;
    align-items: center;
    min-height: 100vh;

}

#gameTitle{
    margin-top: 120px;
    font-size: 60px;
    color: #FFD700;
}
p{
    font-size: 40px;
    color: #00FFFF;
}
#upperBuffer{
    height: 10px;
}
p1{
    font-size: 30px;
    color: #00a6ff;
}
#resetBtn{
    margin-top: 40px;
    width: 300px;
    height: 60px;
    font-size: 40px;
    background-color: #3599f0;
}
#resetBtn:hover {
  background: linear-gradient(to right, #c57aff, #a229ff);
  transform: scale(1.02);
}